{#
OctoPrint CR-10 Leveling Plugin. Allows user to easily level 3D printer.
Copyright (C) 2018  electr0sheep

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Email: electr0sheep@electr0sheep.com
#}

<div style="background-color: #d9534f; color: #fff; margin: 10px; padding: 10px; border-radius: 4px">
  Warning: Please home your printer before using the buttons, failing to do so
  can cause the printer head to go out-of-bounds. <s>There is a fix for this in the
  works, but it is not complete yet.</s> 04/19/2018 UPDATE: The OctoPrint core
  exhibits the same behavior. Therefore, forcing the user to home before using
  this plugin is beyond its scope. This issue won't be fixed in the forseeable
  future.
</div>
<div style="background-color: #5bc0de; color: #fff; margin: 10px; padding: 10px; border-radius: 4px">
  After saving these settings, please refresh the page to update the control
  buttons. There is a fix so that you don't have to refresh the page in the
  works, but it is not complete yet.
</div>

<!--
<form class="form-horizontal">
  <div class="control-group">
    <h3>Preconfigured Default:</h3>
    <label class="control-label">Printer:</label>
    <div class="controls">
      <select>
        <option value="cr-10">CR-10</option>
        <option value="cr-10mini">CR-10 Mini</option>
        <option value="cr-10s4">CR-10 S4</option>
        <option value="cr-10s5">CR-10 S5</option>
      </select>
    </div>
  </div>
</form>
-->
<form class="form-horizontal">
  <div class="control-group">
    <h3>Apply Heat</h3>
    <label class="control-label">Bed Temp:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.bed_temp">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Nozzle Temp:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.nozzle_temp">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Heat Bed and Nozzle simultaneously:</label>
    <div class="controls">
      <input type="checkbox" data-bind="checked: settings.plugins.CR10_Leveling.heat_simultaneously">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Wait for heating to finish (if unchecked, bed and nozzle will heat simultaneously):</label>
    <div class="controls">
      <input type="checkbox" data-bind="checked: settings.plugins.CR10_Leveling.wait_for_heat">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Play post-heat tune:</label>
    <div class="controls">
      <input type="checkbox" data-bind="checked: settings.plugins.CR10_Leveling.play_tune">
    </div>
  </div>
  <!--
  <div class="control-group">
    <label class="control-label">Post-heat tune:</label>
    <div class="controls">
      <input type="number" data-bind="value: settings.plugins.CR10_Leveling.tune">
    </div>
  </div>
  -->

  <h3>All Controls</h3>
  <div class="control-group">
    <label class="control-label">Feed Rate (how fast the x/y axes move):</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.feed_rate">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Lower Z coordinate</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.lower_z">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Upper Z coordinate</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.upper_z">
    </div>
  </div>
  <div class="control-group">
    <label for="autolevel_command"><i class="icon icon-info-sign" title="GCODE commands to send to printer to run autoleveling" data-toggle="tooltip"></i>Autolevel GCODE Commands (empty for no Autoleveling)</label>
    <textarea class="input-block-level" id="autolevel_command" rows="4" data-bind="value: settings.plugins.CR10_Leveling.autolevel"></textarea>
  </div>

  <h3>Front Left</h3>
  <div class="control-group">
    <label class="control-label">X:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.front_left_x">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Y:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.front_left_y">
    </div>
  </div>

  <h3>Front Right</h3>
  <div class="control-group">
    <label class="control-label">X:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.front_right_x">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Y:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.front_right_y">
    </div>
  </div>

  <h3>Back Left</h3>
  <div class="control-group">
    <label class="control-label">X:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.back_left_x">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Y:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.back_left_y">
    </div>
  </div>

  <h3>Back Right</h3>
  <div class="control-group">
    <label class="control-label">X:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.back_right_x">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Y:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.back_right_y">
    </div>
  </div>

  <h3>Center</h3>
  <div class="control-group">
    <label class="control-label">X:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.center_x">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Y:</label>
    <div class="controls">
      <input type="number" step="0.1" data-bind="value: settings.plugins.CR10_Leveling.center_y">
    </div>
  </div>
</form>
